/GraphNotificationApi/.vs
/GraphNotificationApi/bin
/GraphNotificationApi/obj
/AzureRestAPIExamples/obj
/AzureRestAPIExamples/bin
/AzureRestAPIExamples/.vs
/.vs/GraphNotificationApi/CopilotIndices
/.vs
/AzureRestAPIExamples/Properties
